.dropdown-toggle {
    width: 7em;
    padding: 0.375rem 0.75rem;
    text-align: center;
}

.dropdown-menu {
    min-width: unset;
    text-align: center;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #6c757d !important;
    color: white !important;
}
